body{
    background: white;
}

#side_nav{
    background: black;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: white;
}

.sidebar li.active{
    background: white;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: black;
}

.sidebar li a{
    color: #fff;
}